<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.javadude.nav2">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".TabbedActivity1"
			android:label="Movies R Us!"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ActionActivity"
			android:label="Action Movies"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>
		<activity
			android:name=".Statham1Activity"
			android:label="Jason Statham Kicks Someone"
			android:parentActivityName=".ActionActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActionActivity"/>
		</activity>
		<activity
			android:name=".Statham2Activity"
			android:label="Jason Statham Kicks Someone Else"
			android:parentActivityName=".ActionActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActionActivity"/>
		</activity>
		<activity
			android:name=".Statham3Activity"
			android:label="Jason Statham Drives a Car"
			android:parentActivityName=".ActionActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActionActivity"/>
		</activity>
		<activity
			android:name=".Statham4Activity"
			android:label="Jason Statham Takes Off His Shirt"
			android:parentActivityName=".ActionActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ActionActivity"/>
		</activity>
		<activity
			android:name=".HorrorActivity"
			android:label="Horror Movies"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>
		<activity
			android:name=".Friday402Activity"
			android:label="Friday the Thirteen, part 402"
			android:parentActivityName=".HorrorActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HorrorActivity"/>
		</activity>
		<activity
			android:name=".Friday403Activity"
			android:label="Friday the Thirteen, part 403"
			android:parentActivityName=".HorrorActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HorrorActivity"/>
		</activity>
		<activity
			android:name=".Friday404Activity"
			android:label="Friday the Thirteen, part 404"
			android:parentActivityName=".HorrorActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HorrorActivity"/>
		</activity>
		<activity
			android:name=".Friday405Activity"
			android:label="Friday the Thirteen, part 405"
			android:parentActivityName=".HorrorActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HorrorActivity"/>
		</activity>
		<activity
			android:name=".ScifiActivity"
			android:label="Science Fiction Movies"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>
		<activity
			android:name=".Star1Activity"
			android:label="Star Battles, Episode 1: Too Much Talk"
			android:parentActivityName=".ScifiActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ScifiActivity"/>
		</activity>
		<activity
			android:name=".Star2Activity"
			android:label="Star Battles, Episode 2: The Cash Grab"
			android:parentActivityName=".ScifiActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ScifiActivity"/>
		</activity>
		<activity
			android:name=".Star3Activity"
			android:label="Star Battles, Episode 3: I Laughed, I Cried; It Was Better Than CATS"
			android:parentActivityName=".ScifiActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ScifiActivity"/>
		</activity>
	</application>

</manifest>